.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
   transition: color 0.5s, text-decoration 0.3s; 
}

.link.active {
  color: #cc0c26;
}

.link:hover {
  color: #ff6600; 
  text-decoration: underline; 
}